<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derevo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/8423977a3c.js" crossorigin="anonymous"></script>
    <script src="/js/vue.js"></script>
    <script src="https://unpkg.com/vuejs-datepicker"></script>
    <script src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/fr.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body class="bg-primary">
    <nav class="navbar navbar-dark">
        <div class="container justify-content-center">
            <div class="navbar-nav col-2">
                <a class="nav-item nav-link active" href="/about">À propos</a>
            </div>

            <div class="navbar-nav col-2">
                <a class="navbar-brand logo" href="/">Derevo</a>
            </div>

            <div class="navbar-nav col-2">
                <a class="nav-item nav-link" href="/add">Ajouter un individu</a>
            </div>
        </div>
    </nav>

    <section id="team" class="team content-section">
        <div class="content container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2 data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">L'Équipe Derevo</h2>
                    <h4 data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">Derevo a été dévéloppé par des étudiants en licence projets web & mobile au sein de la faculté des sciences Sorbonne université. Derevo vous permet de créer entièrement votre arbre généalogique.
                    </h4>
                </div>

                <div class="container">
                    <div class="row">

                        <div class="col-md-3" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                            <div class="team-member">
                                <figure>
                                    <img src="images/balzac.jpg" alt="balzac" class="img-responsive">
                                    <figcaption>
                                        <p>20 ans, Paris</p>
                                        <ul>
                                            <li><a href="https://www.facebook.com/balzac.b"><i class="fa fa-facebook fa-2x"></i></a></li>
                                            <li><a href="https://github.com/balzacbdmt"><i class="fa fa-github fa-2x"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <h4>Balzac Baudemont</h4>
                                <p>Front-end / Design</p>
                            </div>
                        </div>

                        <div class="col-md-3" data-aos="fade-up" data-aos-delay="700" data-aos-duration="1000">
                            <div class="team-member">
                                <figure>
                                    <img src="images/nathan.jpg" alt="nathan" class="img-responsive">
                                    <figcaption>
                                        <p>20 ans, Paris</p>
                                        <ul>
                                            <li><a href="https://github.com/Wolf-Nathan"><i class="fa fa-github fa-2x"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <h4>Nathan Wolf</h4>
                                <p>Back-end</p>
                            </div>
                        </div>

                        <div class="col-md-3" data-aos="fade-up" data-aos-delay="900" data-aos-duration="1000">
                            <div class="team-member">
                                <figure>
                                    <img src="images/alexis.jpg" alt="alexis" class="img-responsive">
                                    <figcaption>
                                        <p>20 ans, Paris</p>
                                        <ul>
                                            <li><a href="https://www.facebook.com/balzac.b"><i class="fa fa-facebook fa-2x"></i></a></li>
                                            <li><a href="https://github.com/balzacbdmt"><i class="fa fa-github fa-2x"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <h4>Alexis Granger</h4>
                                <p>Front-end</p>
                            </div>
                        </div>

                        <div class="col-md-3" data-aos="fade-up" data-aos-delay="1100" data-aos-duration="1000">
                            <div class="team-member">
                                <figure>
                                    <img src="images/nelu.jpg" alt="ion" class="img-responsive">
                                    <figcaption>
                                        <p>22 ans, Paris</p>
                                        <ul>
                                            <li><a href="https://github.com/sckraa"><i class="fa fa-github fa-2x"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <h4>Ion Luca</h4>
                                <p>Fullstack</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-12">
                    <h4 data-aos="fade-up" data-aos-delay="1300" data-aos-duration="1000">Derevo a été dévelopé avec <i class="fas fa-heart"></i> et utilise <i class="fab fa-vuejs"></i> pour le front-end ainsi que <i class="fab fa-node-js"></i> pour le back-end.</h4>
                    <a data-aos="fade-up" data-aos-delay="1500" data-aos-duration="1000" href="https://vuejs.org/"><i class="fab fa-vuejs fa-3x"></i></a>
                    <a data-aos="fade-up" data-aos-delay="1500" data-aos-duration="1000" href="https://github.com/balzacbdmt"><i class="fa fa-github fa-4x" style="padding: 10px;"></i></a>
                    <a data-aos="fade-up" data-aos-delay="1500" data-aos-duration="1000" href="https://nodejs.org/"><i class="fab fa-node-js fa-3x"></i></a>
                </div>

            </div>
        </div>
    </section>


    <script>
        AOS.init();
    </script>
</body>

</html>