<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ajouter un individu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="/css">
    <script src="https://kit.fontawesome.com/8423977a3c.js" crossorigin="anonymous"></script>
    <script src="/vue"></script>
    <script src="https://unpkg.com/vuejs-datepicker"></script>
    <script src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/fr.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body class="add-form-body bg-primary">
    <nav class="navbar navbar-dark">
        <div class="container justify-content-center">
            <div class="navbar-nav col-2">
                <a class="nav-item nav-link" href="/about">À propos</a>
            </div>

            <div class="navbar-nav col-2">
                <a class="navbar-brand logo" href="/">Derevo</a>
            </div>

            <div class="navbar-nav col-2">
                <a class="nav-item nav-link active" href="/add">Ajouter un individu</a>
            </div>
        </div>
    </nav>

    <div class="content container justify-content-center">
        <transition name="fade">
            <div class="row col-10" id="body-add-person">
                <h1 data-aos="fade-up" data-aos-delay="200" data-aos-duration="100">Ajouter une personne</h1>
                <form id="form" data-aos="fade-up">
                    <div class="form-group col-sm-4 z-index-back" data-aos="fade-up" data-aos-delay="200"
                        data-aos-duration="1000">
                        <label for="nom"> Entrez le nom de la personne</label>
                        <input type="text" v-model="nom" class="form-control" id="nom" placeholder="Nom">
                    </div>

                    <div class="form-group col-sm-4 z-index-back" data-aos="fade-up" data-aos-delay="300"
                        data-aos-duration="1000">
                        <label for="prenom"> Entrez le prénom de la personne</label>
                        <input type="text" v-model="prenom" class="form-control" id="prenom" placeholder="Prénom">
                    </div>

                    <div class="form-group col-sm-4 z-index-back" data-aos="fade-up" data-aos-delay="300"
                         data-aos-duration="1000">
                        <label for="sexe"> Indiquez le sexe de la personne</label>
                        <select id="sexe" v-model="sexe" class="form-control" name="sexe">
                            <option value="H">Homme</option>
                            <option value="F">Femme</option>
                        </select>
                    </div>

                    <div class="form-group col-sm-6" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                        <label for="naissance"> Si connu, merci de renseigner la date de naissance</label>
                        <vuejs-datepicker v-model="dateNaissance" :format="'dd MMMM yyyy'" :language="fr" id="naissance"></vuejs-datepicker>
                    </div>

                    <div class="form-group col-sm-6" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                        <label for="mort"> Si connu, merci de renseigner la date de mort</label>
                        <vuejs-datepicker v-model="dateMort" :format="'dd MMMM yyyy'" :language="fr" id="mort"></vuejs-datepicker>
                    </div>

                    <div class="form-group col-sm-6 z-index-back" data-aos="fade-up" data-aos-delay="600"
                        data-aos-duration="1000">
                        <label for="pere"> Sélectionner le père de la personne</label>
                        <select id="pere" v-model="pere" class="form-control" name="pere">
                            <option v-for="person in persons" :value="person.id">
                                {{ person.nom }} {{ person.prenom }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-sm-6 z-index-back" data-aos="fade-up" data-aos-delay="700"
                        data-aos-duration="1000">
                        <label for="mere"> Sélectionner la mère de la personne</label>
                        <select id="mere" v-model="mere" class="form-control" name="mere">
                            <option v-for="person in persons" :value="person.id">
                                {{ person.nom }} {{ person.prenom }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-sm-6 z-index-back" data-aos="fade-up" data-aos-delay="800"
                        data-aos-duration="1000">
                        <label for="enfants"> Sélectionner les enfants de la personne</label>
                        <select id="enfants" class="form-control" name="enfants" multiple="multiple" v-model="enfants">
                            <option v-for="person in persons" :value="person.id">
                                {{ person.nom }} {{ person.prenom }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-sm-6 z-index-back" data-aos="fade-up" data-aos-delay="900"
                        data-aos-duration="1000">
                        <transition name="fade">
                            <div id="addMaryForm" v-if="addMariage" class="add-mary-form">
                                <h4>Nouveau mariage</h4>
                                <div class="form-group">
                                    <label for="mary"> Sélectionner le mari/la femme de la personne</label>
                                    <select id="mary" v-model="mary" class="form-control" name="mary">
                                        <option v-for="person in persons" :value="person.id">
                                            {{ person.nom }} {{ person.prenom }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="mariageDate"> Merci de renseigner la date de mariage</label>
                                    <vuejs-datepicker v-model="dateMariage" :format="'dd MMMM yyyy'" :language="fr" id="mariageDate">
                                    </vuejs-datepicker>
                                </div>
                                <div class="form-group">
                                    <label for="divorceDate"> Si divorce, merci de renseigner la date de divorce</label>
                                    <vuejs-datepicker v-model="dateDivorce" :format="'dd MMMM yyyy'" :language="fr" id="divorceDate">
                                    </vuejs-datepicker>
                                </div>
                                <div class="form-group">
                                    <p v-on:click="validMary" class="button">Ajouter ce mariage</p>
                                    <i v-on:click="cancelMary" class="fas fa-times closeBtn"></i>
                                </div>
                            </div>
                        </transition>

                        <p v-on:click="show" v-if="!addMariage" class="button">Ajouter un mariage ?</p>

                        <div class="form-group col-12" v-if="mariages.length">
                            <div v-for="(mariage, index) in mariages">
                                <div v-if="!mariage.divorceDate">
                                    <p v-if="mariages.length > 1">Mariage numéro {{ index+1 }}:
                                        {{ mariage.mariageDate }} - actuel</p>
                                    <p v-else>Mariage: {{ mariage.mariageDate }} - actuel</p>
                                </div>
                                <div v-else>
                                    <p v-if="mariages.length > 1">Mariage numéro {{ index+1 }}:
                                        {{ mariage.mariageDate }} - {{ mariage.divorceDate }}</p>
                                    <p v-else>Mariage: {{ mariage.mariageDate }} - {{ mariage.divorceDate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button v-if="!done" v-on:click="addPerson" class="button valid-form z-index-back"
                        data-aos="fade-up" data-aos-delay="1100" data-aos-duration="1000">Ajouter l'individu</button>
                    <div v-else class="form-group col-sm-6 z-index-back doneAddPerson" data-aos="fade-up"
                        data-aos-delay="500" data-aos-duration="1000">
                        <i class="fas fa-check"></i>
                        <h2>L'individu a bien été enregistré !</h2>
                        <button class="button">Consulter son arbre généalogique</button>
                    </div>

                </form>
            </div>
        </transition>
    </div>

    <script>
        AOS.init();

        let formModele = new Vue({
            el: "#form",
            data: {
                fr: vdp_translation_fr.js,
                done: false,
                addMariage: false,
                mariages: [],
                nom: null,
                prenom: null,
                sexe: null,
                dateNaissance: null,
                dateMort: null,
                pere: null,
                mere: null,
                enfants: [],
                mariageNumber: 0,
                persons: null,
            },
            components: {
                vuejsDatepicker
            },
            mounted() {
                if (localStorage.getItem('persons')) {
                    try {
                        this.persons = JSON.parse(localStorage.getItem('persons'));
                    } catch(e) {
                        localStorage.removeItem('persons');
                    }
                }
            },
            methods: {
                show: function () {
                    this.mary = null;
                    this.dateMariage = null;
                    this.dateDivorce = null;
                    this.addMariage = true;
                },
                cancelMary: function () {
                    this.addMariage = false;
                },
                validMary: function () {
                    this.mariageNumber++ ;
                    var maryId = document.getElementById("mary").value;
                    var mariageDate = document.getElementById("mariageDate").value;
                    var divorceDate = document.getElementById("divorceDate").value;

                    if (maryId && mariageDate) {
                        this.addMariage = false;
                        this.mariages.push({
                            "maryId": maryId,
                            "mariageDate": mariageDate,
                            "divorceDate": divorceDate ?? null
                        });
                    } else {
                        alert("Merci d'indiquer une date de mariage !");
                    }
                },
                addPerson: function () {
                    // ICI, recuperer les valeurs des champs et instancier l'individu dans le LS.
                    //Pour recuperer les date des datePicker: this.dateNaissance par exmple (v-model)
                    //Verifie que les champs ne soient pas vide ;)
                    if(this.prenom !== null && this.nom !== null) {
                        var person = {
                            id: null,
                            prenom: this.prenom,
                            nom: this.nom,
                            sexe: this.sexe ?? null,
                            dateNaissance: this.dateNaissance ? this.dateNaissance.toLocaleDateString('fr', {day: 'numeric', month: 'long', year: 'numeric'}) : null,
                            dateMort: this.dateMort ? this.dateMort.toLocaleDateString('fr', {day: 'numeric', month: 'long', year: 'numeric'}) : null,
                            pere: this.pere ?? null,
                            mere: this.mere ?? null,
                            enfants: this.enfants ?? [],
                            mariages: this.mariages ?? null
                        };
                        if(this.persons){
                            /*var lastPerson = this.persons[this.persons.length - 1];
                            person.id = lastPerson.id + 1;*/
                            person.id = this.persons.length;

                           /* fonctionne pas
                            // On récupère la dernière personne du tableau
                            var reversePersons = this.persons;
                            reversePersons.reverse();
                            var lastPerson = reversePersons.shift();
                            // Puis on incrémente l'id de cette personne pour déterminer l'id du nouvel individu
                            person.id = lastPerson.id + 1;
                            */
                        }
                        else {
                            person.id = 0;
                            this.persons = [];
                        }
                        this.persons[person.id] = person;

                        if(this.pere) {
                            this.persons[this.pere].enfants.push(person.id);
                        }
                        if(this.mere) {
                            this.persons[this.mere].enfants.push(person.id);
                        }
                        if(this.enfants && this.sexe) {
                            if(this.sexe === 'H') {
                                this.enfants.forEach(enfant => {
                                    this.persons[enfant].pere = person.id;
                                });
                            }
                            else {
                                this.enfants.forEach(enfant => {
                                    this.persons[enfant].mere = person.id;
                                });
                            }
                        }
                        if(this.mariages) {
                            this.mariages.forEach(mariage => {
                                this.persons[mariage.maryId].mariages.push({
                                    "maryId": person.id,
                                    "mariageDate": mariage.mariageDate,
                                    "divorceDate": mariage.divorceDate ?? null
                                });
                            })
                        }

                        const parsed = JSON.stringify(this.persons);
                        localStorage.setItem("persons", parsed);
                        this.done = true;
                    }
                    else{
                        alert("Merci de renseigner un nom et un prénom pour enregistrer l'individu !")
                    }
                    
                    //this.done == true quand l'enregistrement a bein été fait :)
                }
            }
        });
    </script>
    <script src="/addPerson"></script>

</body>

</html>