<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Ajouter un individu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/8423977a3c.js" crossorigin="anonymous"></script>
    <script src="/js/vue.js"></script>
    <script src="https://unpkg.com/vuejs-datepicker"></script>
    <script src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/fr.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body class="add-form-body bg-primary">
    <nav class="navbar navbar-dark">
        <div class="container justify-content-center">
            <div class="navbar-nav col-2">
                <a class="nav-item nav-link" href="/about">À propos</a>
            </div>

            <div class="navbar-nav col-2">
                <a class="navbar-brand logo" href="/">Derevo</a>
            </div>

            <div class="navbar-nav col-2">
                <a class="nav-item nav-link active" href="/add">Ajouter un individu</a>
            </div>
        </div>
    </nav>

    <div class="content container justify-content-center">
        <transition name="fade">
            <div class="row col-10" id="body-add-person">
                <h1 data-aos="fade-up" data-aos-delay="200" data-aos-duration="100">Ajouter une personne</h1>
                <form id="form" data-aos="fade-up">
                    <div class="form-group col-sm-4 z-index-back" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                        <label for="nom"> Entrez le nom de la personne</label>
                        <input type="text" v-model="nom" class="form-control" id="nom" placeholder="Nom">
                    </div>

                    <div class="form-group col-sm-4 z-index-back" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                        <label for="prenom"> Entrez le prénom de la personne</label>
                        <input type="text" v-model="prenom" class="form-control" id="prenom" placeholder="Prénom">
                    </div>

                    <div class="form-group col-sm-4 z-index-back" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                        <label for="sexe"> Indiquez le sexe de la personne</label>
                        <select id="sexe" v-model="sexe" class="form-control" name="sexe">
                            <option value="H">Homme</option>
                            <option value="F">Femme</option>
                        </select>
                    </div>

                    <div class="form-group col-sm-6" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                        <label for="naissance"> Si connu, merci de renseigner la date de naissance</label>
                        <vuejs-datepicker v-model="dateNaissance" :format="'dd MMMM yyyy'" :language="fr" id="naissance"></vuejs-datepicker>
                    </div>

                    <div class="form-group col-sm-6" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
                        <label for="mort"> Si connu, merci de renseigner la date de mort</label>
                        <vuejs-datepicker v-model="dateMort" :format="'dd MMMM yyyy'" :language="fr" id="mort"></vuejs-datepicker>
                    </div>

                    <div class="form-group col-sm-6 z-index-back" data-aos="fade-up" data-aos-delay="700" data-aos-duration="1000">
                        <label for="pere"> Sélectionner le père de la personne</label>
                        <select id="pere" v-model="pere" class="form-control" name="pere">
                            <option v-for="person in persons" v-if="person.nom && person.sexe === 'H'" :value="person.id">
                                {{ person.nom }} {{ person.prenom }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-sm-6 z-index-back" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
                        <label for="mere"> Sélectionner la mère de la personne</label>
                        <select id="mere" v-model="mere" class="form-control" name="mere">
                            <option v-for="person in persons" v-if="person.nom && person.sexe === 'F' " :value="person.id">
                                {{ person.nom }} {{ person.prenom }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-sm-6 z-index-back" data-aos="fade-up" data-aos-delay="900" data-aos-duration="1000">
                        <label for="enfants"> Sélectionner les enfants de la personne</label>
                        <select id="enfants" class="form-control" name="enfants" multiple="multiple" v-model="enfants">
                            <option v-for="person in persons" v-if="person.nom" :value="person.id">
                                {{ person.nom }} {{ person.prenom }}
                            </option>
                        </select>

                        <div v-if="enfants.length" v-on:click="removeSelectChilds" id="rmSelectedChild" class="button">Supprimer tout les enfants sélectionnés</div>
                    </div>

                    <div class="form-group col-sm-6 z-index-back" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">
                        <transition name="fade">
                            <div id="addMaryForm" v-if="addMariage" class="add-mary-form">
                                <h4>Nouveau mariage</h4>
                                <div class="form-group">
                                    <label for="mary"> Sélectionner le mari/la femme de la personne</label>
                                    <select id="mary" v-model="mary" class="form-control" name="mary">
                                        <option v-for="person in persons" v-if="person.nom" :value="person.id">
                                            {{ person.nom }} {{ person.prenom }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="mariageDate"> Merci de renseigner la date de mariage</label>
                                    <vuejs-datepicker v-model="dateMariage" :format="'dd MMMM yyyy'" :language="fr" id="mariageDate">
                                    </vuejs-datepicker>
                                </div>
                                <div class="form-group">
                                    <label for="divorceDate"> Si divorce, merci de renseigner la date de divorce</label>
                                    <vuejs-datepicker v-model="dateDivorce" :format="'dd MMMM yyyy'" :language="fr" id="divorceDate">
                                    </vuejs-datepicker>
                                </div>
                                <div class="form-group">
                                    <p v-on:click="validMary" class="button">Ajouter ce mariage</p>
                                    <i v-on:click="cancelMary" class="fas fa-times closeBtn"></i>
                                </div>
                            </div>
                        </transition>

                        <p v-on:click="show" v-if="!addMariage" class="button">Ajouter un mariage ?</p>

                        <div class="form-group col-12" v-if="mariages.length">
                            <div v-for="(mariage, index) in mariages">
                                <div v-if="!mariage.divorceDate">
                                    <p v-if="mariages.length > 1">Mariage numéro {{ index+1 }} avec {{ persons[mariage.maryId].nom }} {{ persons[mariage.maryId].prenom }}: {{ mariage.mariageDate }} - actuel</p>
                                    <p v-else>Mariage avec {{ persons[mariage.maryId].nom }} {{ persons[mariage.maryId].prenom }}: {{ mariage.mariageDate }} - actuel</p>
                                </div>
                                <div v-else>
                                    <p v-if="mariages.length > 1">Mariage numéro {{ index+1 }} avec {{ persons[mariage.maryId].nom }} {{ persons[mariage.maryId].prenom }}: {{ mariage.mariageDate }} - {{ mariage.divorceDate }}</p>
                                    <p v-else>Mariage avec {{ persons[mariage.maryId].nom }} {{ persons[mariage.maryId].prenom }}: {{ mariage.mariageDate }} - {{ mariage.divorceDate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button v-if="!done" v-on:click="addPerson" class="button valid-form z-index-back" data-aos="fade-up" data-aos-delay="1100" data-aos-duration="1000">Ajouter l'individu</button>
                    <div v-else class="form-group col-sm-6 z-index-back doneAddPerson" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                        <i class="fas fa-check"></i>
                        <h2>L'individu a bien été enregistré !</h2>
                        <div v-on:click="goToTree" class="button center">Consulter son arbre généalogique</div>
                        <div v-on:click="newAdd" class="button mt-3 center">Ajouter un autre individu ?</div>
                    </div>

                </form>
            </div>
        </transition>
    </div>
    <script src="/js/addPerson.js"></script>

</body>

</html>