<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Par année</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/8423977a3c.js" crossorigin="anonymous"></script>
    <script src="/js/vue.js"></script>
    <script src="https://unpkg.com/vuejs-datepicker"></script>
    <script src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/fr.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body class="add-form-body bg-primary">
    <nav class="navbar navbar-dark">
        <div class="container justify-content-center">
            <div class="navbar-nav col-2">
                <a class="nav-item nav-link" href="/about">À propos</a>
            </div>

            <div class="navbar-nav col-2">
                <a class="navbar-brand logo" href="/">Derevo</a>
            </div>

            <div class="navbar-nav col-2">
                <a class="nav-item nav-link" href="/add">Ajouter un individu</a>
            </div>
        </div>
    </nav>

    <div class="content container justify-content-center divByYear">
        <transition name="fade">
            <div class="row col-10 justify-content-center" id="body-add-person">
                <h1 data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">Rechercher des personnes par années</h1>
                <div id="yearForm" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                    <form>
                        <div class="form-group yearForm">
                            <label for="year" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000"> Entrez l'année de recherche</label>
                            <input type="text" v-model="year" class="form-control" id="year" placeholder="Année" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                        </div>
                        <div class="d-flex justify-content-center">
                            <div v-on:click="searchByYear" class="button yearFormSub ml-2 mr-2" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">Rechercher</div>
                            <a href="/" class="button yearFormSub text-decoration-none text-light ml-2 mr-2" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">Accueil</a>
                        </div>
                    </form>
                    <div v-if="activeSearch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" class="mt-5">
                        <div v-if="alivePersons.length"data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                            <p data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000"> Individus vivants cette année : </p>
                            <table id="tableYearResult" class="table table-striped col-12" id="table-id" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                                <thead data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Consulter</th>
                                    </tr>
                                </thead>
                                <tbody data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                                    <tr v-for="person in alivePersons">
                                        <td>{{ person.nom }}</td>
                                        <td>{{ person.prenom }}</td>
                                        <td><a :href="person.link" class="linkInfosPerson"><i class="fas fa-eye"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div v-else>
                            <h4 data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">Personne n'était vivant cette anée la :(</h4>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>

</body>

<script src="/js/byYear.js"></script>

</html>