<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Supprimer un individu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/8423977a3c.js" crossorigin="anonymous"></script>
    <script src="/js/vue.js"></script>
    <script src="https://unpkg.com/vuejs-datepicker"></script>
    <script src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/fr.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body class="add-form-body bg-primary">
    <nav class="navbar navbar-dark">
        <div class="container justify-content-center">
            <div class="navbar-nav col-2">
                <a class="nav-item nav-link" href="/about">À propos</a>
            </div>

            <div class="navbar-nav col-2">
                <a class="navbar-brand logo" href="/">Derevo</a>
            </div>

            <div class="navbar-nav col-2">
                <a class="nav-item nav-link active" href="/add">Ajouter un individu</a>
            </div>
        </div>
    </nav>

    <div class="content container justify-content-center" id="body-add-person">
        <h1 data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">Supprimer une personne</h1>
        <div id="deleteDiv" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
            <h3 data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">Voulez vous vraiment supprimer {{ prenom }} {{ nom }} ?</h3>
            <div data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                <div class="button" v-on:click="deleteNo">Non</div>
                <div class="button" v-on:click="deleteYes">Oui</div>
            </div>
        </div>
    </div>

    <script src="/js/deletePerson.js"></script>

</body>

</html>