<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Consulter un arbre</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/style_arbre.css">
    <script src="https://kit.fontawesome.com/8423977a3c.js" crossorigin="anonymous"></script>
    <script src="/js/vue.js"></script>
    <script src="https://unpkg.com/vuejs-datepicker"></script>
    <script src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/fr.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body class="add-form-body bg-primary">
    <nav class="navbar navbar-dark">
        <div class="container justify-content-center">
            <div class="navbar-nav col-2">
                <a class="nav-item nav-link" href="/about">À propos</a>
            </div>

            <div class="navbar-nav col-2">
                <a class="navbar-brand logo" href="/">Derevo</a>
            </div>

            <div class="navbar-nav col-2">
                <a class="nav-item nav-link" href="/add">Ajouter un individu</a>
            </div>
        </div>
    </nav>

    <div class="justify-content-center">
        <div class="ml-5 mr-5 row d-flex justify-space-between">
            <div id="infos" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                <h3 data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">{{ titre }} {{ nom }} {{ prenom }}</h3>
                <div id="infosParents" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                    <div v-show="pere" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                        <h4>{{ pere }}</h4>
                        <p>Père</p>
                    </div>
                    <div v-show="mere" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                        <h4>{{ mere }}</h4>
                        <p>Mère</p>
                    </div>
                </div>
                <table v-show="enfants.length" id="infosListEnfant" class="table table-striped" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                    <thead>
                        <tr>
                            <th>Enfants</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(enfant, index) in enfants">
                            <td>{{ enfant }}</td>
                        </tr>
                    </tbody>
                </table>
                <table v-show="ancetres.length" id="infosListAncetre" class="table table-striped" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                    <thead>
                    <tr>
                        <th>Ancêtres</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(ancetre, index) in ancetres">
                        <td><a v-bind:href="ancetre.link">{{ ancetre.nom }} {{ ancetre.prenom }}</a></td>
                    </tr>
                    </tbody>
                </table>
                <table v-show="descendants.length" id="infosListDescendant" class="table table-striped" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                    <thead>
                    <tr>
                        <th>Descendants</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(descendant, index) in descendants">
                        <td><a v-bind:href="descendant.link">{{ descendant.nom }} {{ descendant.prenom }}</a></td>
                    </tr>
                    </tbody>
                </table>
                <h4 v-show="dateNaissance" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">Né(e) le : {{ dateNaissance }}</h4>
                <h4 v-show="dateMort" data-aos="fade-up" data-aos-delay="700" data-aos-duration="1000">Décédé(e) le : {{ dateMort }}</h4>
                <div v-show="mariages.length" id="infosListMariages" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
                    <h4>Liste des mariages</h4>
                    <p v-for="mariage in mariages">{{ mariage }}</p>
                </div>
            </div>

            <div id="arbre" class="tree d-flex justify-content-center">
                <Arbre v-bind:personnes='personnes' v-bind:selected='selected' data-aos="fade-up" data-aos-delay="100" data-aos-duration="2000">
                </Arbre>
            </div>
        </div>
    </div>

    <script src="/js/genereDonnees.js"></script>
    <script src="/js/genereArbre.js"></script>
    <script src="/js/infos.js"></script>

</body>

</html>