@import 'font.css';

.navbar {
    background-color: #4d747e;
    /* height: 10vh; */
    margin-bottom: 0;
}

.navbar-brand {
    font-size: 45px;
    font-family: "Kamila Regular";
    /* color: rgb(226, 221, 221); */
}

.nav-item {
    /* color: rgb(226, 221, 221) !important; */
}

.nav-item:hover {
    /* color: rgb(255, 255, 255) !important; */
}

.content {
    height: 90vh;
}

.familly-image {
    position: relative;
    width: 50%;
    background: url('./../../assets/images/home.jpg') center center no-repeat;
    background-size: cover;
}

.familly-image:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,rgb(118, 125, 129),#858483);
	opacity: .4; 
}

.familly-content {
    width: 50%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .familly-image {
        display: none;
    }

    .familly-content {
        width: 100%;
    }
}

table th , table td{
    text-align: center;
}

table tr:nth-child(even){
    background-color: #e4e3e3
}

th {
  background: #333;
  color: #fff;
}

.pagination {
  margin: 0;
}

.pagination li:hover{
    cursor: pointer;
}

.header_wrap {
  padding:30px 0;
}
.num_rows {
  width: 20%;
  float:left;
}
.tb_search{
  width: 20%;
  float:right;
}
.pagination-container {
  width: 70%;
  float:left;
}

.rows_count {
  width: 20%;
  float:right;
  text-align:right;
  color: #999;
}